html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

/*mobile*/
.header {
  margin-top: 0;
  padding-bottom: 12%;
}

.title {
  color: #2C363F;
  padding-top: 5px;
  font-family: Roboto Condensed;
  font-size: 25px;
  margin: 0% 10%;
  font-style: italic;
  padding-bottom: 5px;
}

h2 {
  color: #2C363F;
  font-family: Roboto Condensed;
  font-size: 18px;
  margin-left: 10%;
  padding-top: 15px;
}

footer {
  text-align: center;
  margin: 10px 15px;
  font-size: 12px;
  font-family: Roboto Condensed;
  overflow: hidden;
  position: relative;
}

.table {
  border-spacing: 0;
  text-align: left;
  padding: 5%;
  margin: auto;
}

th,
td {
  border-bottom: 0.5px solid #2C363F;
  padding: 2%;
}

.price {
  text-align: right;
  padding-left: 10px;
  margin: auto;
}

.yellow,
.homepage,
.contact {
  background-color: #F9DF74;
  padding-bottom: 5px;
}

.homepage__box,
.aboutme__box1,
.contact__box1,
.contact__box2 {
  padding-top: 3px;
}

.services__items {
  text-align: left;
}

p {
  padding: 0% 5%;
  line-height: 25px;
}

.potrubi,
.certificate,
.portret,
.gas,
.bottle,
.coffee,
.calling {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Montserrat;
  color: #2C363F;
  background-color: #F8F7FF;
  padding: 20px 10px;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.logo {
  max-width: 75px;
  position: absolute;
  right: 15px;
  top: 7px;
}

.menu {
  margin-top: 15%;
  margin-left: 10%;
  font-size: Roboto Condensed;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #F8F7FF;
}
.menu__item {
  list-style-type: none;
  padding: 1%;
}
.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #2C363F;
  margin-right: 15%;
}
.menu__link:hover {
  background-color: #F9DF74;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.services__images {
  display: none;
}

/*PC*/
@media screen and (min-width: 640px) {
  .menu__toggler {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 40px;
  }
  .menu__list {
    display: flex !important;
    justify-content: space-between;
  }
  .menu__item {
    margin: 0;
    padding: 0;
    display: block;
  }
  .menu__link {
    padding: 1rem 0.5rem;
    margin: 0;
    display: block;
  }
  .menu--active, .menu--visited {
    background-color: #F9DF74;
  }

  .header {
    display: flex;
    padding-bottom: 0;
  }

  .pricelist {
    display: flex;
    background-color: #F9DF74;
    padding: 20px;
  }

  .yellow, .white {
    flex-direction: column;
    padding: 10px;
  }

  .coffee {
    max-width: 300px;
    min-width: 150px;
    margin: auto;
    padding: 5px;
    flex-grow: 1;
    flex-basis: auto;
  }

  .table {
    border-spacing: 0;
    text-align: left;
    padding: 5px;
  }

  h2 {
    padding: 0;
  }

  .logo {
    margin: 25px 100px;
  }

  .homepage {
    display: flex;
    background-color: #F9DF74;
    flex-direction: row-reverse;
  }
  .homepage__box {
    padding-top: 25px;
  }

  .potrubi,
.certificate,
.portret,
.calling {
    min-width: 300px;
    max-width: 450px;
    margin: auto;
  }

  .services {
    display: flex;
  }
  .services__box {
    display: flex;
    flex-basis: 33.3333333333%;
  }
  .services__images {
    max-width: 45%;
    min-width: 25%;
    display: flex;
    margin: auto;
    flex-grow: 1;
    flex-basis: 25;
    align-items: stretch;
  }

  .gas,
.bottle {
    display: none;
  }

  .aboutme {
    display: flex;
    flex-basis: 49%;
    flex-grow: 1;
  }
  .aboutme__box1 {
    display: flex;
    flex-direction: row;
  }
  .aboutme__box2 {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 50;
  }

  .contact {
    display: flex;
    flex-basis: 49%;
    flex-grow: 1;
    flex-direction: row;
  }
  .contact__box1 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 50%;
  }
  .contact .form {
    margin-left: 25px;
    padding: 25x;
  }

  label,
input {
    width: 80%;
  }

  .form-field input {
    width: 100%;
    border: 1px solid #2176FF;
  }

  input {
    margin-bottom: 1rem;
    margin: 5px;
    padding: 5px;
    color: #2C363F;
  }

  input[type=submit] {
    background-color: #2176FF;
    color: #F8F7FF;
    border-color: #F8F7FF;
  }
}
@media screen and (min-width: 1020px) {
  .homepage,
.pricelist,
.aboutme,
.services,
.contact {
    margin: 30px 300px;
  }

  .menu,
.title,
.logo {
    margin: 20px 300px;
  }
}/*# sourceMappingURL=style.css.map */