html {
    box-sizing: border-box;
  }
  *,
  :after,
  :before {
    box-sizing: inherit;
  }
  $blue: #2176FF;
  $white: #F8F7FF;
  $yellow: #F9DF74;
  $black: #2C363F;
  $font-base: Montserrat;
  $font-special: Roboto Condensed;
  $font-unique: Smooch;


  /*mobile*/
  .header {
    margin-top: 0;
    padding-bottom: 12%;
  }
  .title {
    color: $black;
    padding-top: 5px;
    font-family: $font-special;
    font-size: 25px;
    margin: 0% 10%;
    font-style: italic;
    padding-bottom: 5px;
  
  }
  h2 {
    color: $black;
    font-family: $font-special;
    font-size: 18px;
    margin-left: 10%;
    padding-top: 15px;
  }
  footer {
    text-align: center;
    margin: 10px 15px;
    font-size: 12px;
    font-family: $font-special;
    overflow: hidden;
    position: relative;
  }
  .table {
    border-spacing: 0;
    text-align: left;
    padding: 5%;
    margin: auto;
  }
  th,
  td {
    border-bottom: 0.5px solid $black;
    padding: 2%;
  }
  .price {
    text-align: right;
    padding-left: 10px;
    margin: auto;
  }
  .yellow, 
  .homepage,
  .contact {
    background-color: $yellow;
    padding-bottom: 5px;
  }
.homepage__box, 
.aboutme__box1, 
.contact__box1, 
.contact__box2{
    padding-top: 3px;
}
.services__items{
    text-align: left;
}
  p {
    padding: 0% 5%;
    line-height: 25px;

  }
  .potrubi,
  .certificate,
  .portret,
  .gas,
  .bottle,
  .coffee,
  .calling {
    width:100%;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: $font-base;
    color: $black;
    background-color: $white;
    padding: 20px 10px;
    text-align: justify;
    margin: 0;
    padding: 0;
  }
  .logo {
    max-width: 75px;
    position: absolute;
    right: 15px;
    top: 7px;
  }
  .menu {
    margin-top: 15%;
    margin-left: 10%;
    font-size: $font-special;
  
  &__checkbox {
    position: absolute;
    left: -9999px;
  }
  &__toggler {
    cursor: pointer;
  }
  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $white;
  }
  &__item {
    list-style-type: none;
    padding: 1%;
  }
  &__link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: $black;
    margin-right: 15%;
  }
  &__link:hover {
    background-color: $yellow;
  }
}
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }

  .services__images{
      display: none;
  }
  /*PC*/
  @media screen and (min-width: 640px) {
    .menu__toggler {
      display: none;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 40px; 
      &__list {
        display: flex !important;
        justify-content: space-between;
      }
      &__item {
        margin: 0;
        padding: 0;
        display: block;
      }
      &__link {
        padding: 1rem 0.5rem;
        margin: 0;
        display: block;
      }
      &--active, &--visited {
        background-color: $yellow;
      }

    }

    .header {
      display: flex;
      padding-bottom: 0;
    }

    .pricelist{
      display:flex;
      background-color: $yellow;
      padding: 20px;
    }
    .yellow, .white{
      flex-direction: column;
      padding: 10px;
    }
    .coffee{
      max-width: 300px;
      min-width: 150px;
      margin: auto;
      padding: 5px;
      flex-grow: 1;
      flex-basis: auto;
      
    }
    .table {
      border-spacing: 0;
      text-align: left;
      padding: 5px
    }
    h2{
      padding: 0;
    }
    .logo{
      margin: 25px 100px;
    }
    .homepage{
      display: flex;
      background-color: $yellow;
      flex-direction: row-reverse;
      &__box{
        padding-top: 25px;
      } 
    }
    .potrubi, 
    .certificate, 
    .portret, 
    .calling{
      min-width: 300px;
      max-width: 450px;
      margin: auto;
    }
  
    .services{
      display: flex;
      &__box{
        display: flex;
        flex-basis: calc(100%/3)
      } 
      &__images{
        max-width: 45%;
        min-width: 25%;
        display: flex;
        margin: auto;
        flex-grow: 1;
        flex-basis: (calc(100/4));
        align-items: stretch;
      }
    }
    .gas, 
    .bottle {
      display: none;
    }

    .aboutme{
      display: flex;
      flex-basis: 49%;
      flex-grow: 1;
      &__box1{
        display: flex;
        flex-direction: row;
      }
      &__box2{
        display: flex;
        flex-direction: row-reverse;
        flex-basis: (calc(100/2))
      }
    }
  
    .contact{
      display: flex;
      flex-basis: 49%;
      flex-grow: 1;
      flex-direction: row;
      &__box1{
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 50%;
      }
    .form{
      margin-left: 25px;
      padding: 25x;
    }
    }

    label,
    input {
      width: 80%;
    }
    .form-field input{
        width: 100%;
        border: 1px solid $blue;
    } 

    input {
      margin-bottom: 1rem;
      margin: 5px;
      padding: 5px;
      color: $black;
      
    }
    input[type=submit] {
      background-color: $blue;
      color: $white;
      border-color: $white;
    }
   }
//deskop
   @media screen and (min-width: 1020px){
    .homepage,
    .pricelist,
    .aboutme,
    .services,
    .contact{
      margin: 30px 300px; 
    }
    .menu,
    .title,
    .logo{
      margin: 20px 300px;
    }
   }

